<!doctype html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/main.css" />
  <title>Selah Hub - Home</title>
</head>
<body>
  <h1> <%=shopName%>- Home</h1>
  <nav>
    <ul>
      <p><a href="about">About <%=shopName%></a></p>
      <p><a href="search">Search the Hub</a></p>
      <p><a href="topics">Topics</a></p>
      <p><a href="topic-details">Topics related Posts</a></p>
      <p><a href="users">Users</a></p>
      <p><a href="posts">Posts</a></p>
      <p><a href="new-post">New post</a></p>
      <p><a href="delete-post">Delete Posts</a></p>
      <p><a href="reply-to-post">Replies</a></p>
    
    </ul>
  </nav>
</body>
</html>
