<!doctype html>
<html>
<head>

  <link rel="stylesheet" href="/styles/style.css">
  <title>Welcome to <%=shopName%></title>
</head>
<body>
  <h1>Selah Hub - Home</h1>
  <nav>
    <ul>
      <p><a href="/">Home <%=shopName%></a></p>
      <p><a href="about">About <%=shopName%></a></p>
      <p><a href="search">Search the Hub</a></p>
      <p><a href="topics">Topics</a></p>
      <p><a href="topic-details">Topics related Posts</a></p>
      <p><a href="users">Users</a></p>
      <p><a href="posts">Posts</a></p>
      <p><a href="new-post">New post</a></p>
      <p><a href="delete-post">Delete Post</a></p>
      <p><a href="add-reply">Replies</a></p>
     
    </ul>
  </nav>
</body>
</html>
